
# # LLM API(OpenAI API格式) 
# EMBEDDING_MODEL_PATH = "/data/huangjie/.cache/modelscope/hub/models/Qwen/Qwen3-VL-Embedding-2B"
EMBEDDING_API_BASE_URL = "http://10.126.102.211:8010/v1/"
# EMBEDDING_API_KEY = "xxx"
EMBEDDING_API_PORT = 8010
EMBEDDING_MODEL_NAME = "AXERA-TECH/Qwen3-VL-Embedding-2B"


# # VLM API(OpenAI API格式)
# VLM_MODEL_PATH = "/data/huangjie/.cache/modelscope/hub/models/Qwen/Qwen3-VL-2B-Instruct"
VLM_API_BASE_URL = "http://10.126.102.211:8011/v1/"
# VLM_API_KEY = "xxxx"
VLM_API_PORT = 8011
VLM_MODEL_NAME = "AXERA-TECH/Qwen3-VL-2B-Instruct"


# # LLM API(OpenAI API格式) 
# LLM_MODEL_PATH = "/data/huangjie/.cache/modelscope/hub/models/Qwen/Qwen3-VL-Embedding-2B"
LLM_API_BASE_URL = "http://10.126.102.211:8012/v1/"
# LLM_API_KEY = "xxx"
LLM_API_PORT = 8012
LLM_MODEL_NAME = "AXERA-TECH/Qwen3-1.7B"


# # ASR API 
SHERPA_MODEL_DIR = "/root/huangjie/AXERA-TECH/SenseVoice"
SHERPA_ASR_URL = "http://10.126.102.211:8013"
# ASR_API_KEY = "xxx"
SHERPA_ASR_API_PORT = 8013
SHERPA_MODEL_FILE = "/root/huangjie/AXERA-TECH/SenseVoice/ax650/model-10-seconds.axmodel"


# # Tokenizer API 
Tokenizer_MODEL_PATH = "./VideoAgent/_llm/tokenizer_model/Qwen/Qwen3-1.7B"  # Tokenizer 文件夹(含tokenizer_config.json, tokenizer.json, vocab.json文件)
Tokenizer_API_BASE_URL = "http://0.0.0.0:8014/"
Tokenizer_API_KEY = "xxxx"
Tokenizer_API_PORT = 8014



VIDEORAG_VIDEO_SEGMENT_LENGTH = "10"
VIDEORAG_ROUGH_NUM_FRAMES_PER_SEGMENT = "5"
VIDEORAG_RETRIEVAL_TOPK_CHUNKS = "2"
VIDEORAG_QUERY_BETTER_THAN_THRESHOLD = "0.2"
VIDEORAG_CHUNK_TOKEN_SIZE = "800"
VIDEORAG_SEGMENT_RETRIEVAL_TOP_K = "2"
